* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 62.5%;
}

#main-frame {
    min-height: 100vh;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(163,8,240,1) 35%, rgba(255,0,181,1) 100%);
}

#game {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 5rem;
    margin: 2rem 0;
    color: white;
}

#game-map {
    margin: 6rem 35rem 6rem 35rem;
}

#game-map table {
    border-collapse: collapse;
}

.game-button {
    background: none;
    height: 10rem;
    width: 10rem;
    border: none;
    cursor: pointer;
    transition: .3s linear;
}

#game-map .game-button:hover {
    background-color: rgb(229, 224, 224, 0.25);
}

#game-map {
    #game-button-0 {
        border-bottom: .2rem solid white;
        border-right: .2rem solid white;
    }
    
    #game-button-1 {
        border-bottom: .2rem solid white;
        border-left: .2rem solid white;
        border-right: .2rem solid white;
    }
    
    #game-button-2 {
        border-bottom: .2rem solid white;
        border-left: .2rem solid white;
    }
    
    #game-button-3 {
        border-top: .2rem solid white;
        border-bottom: .2rem solid white;
        border-right: .2rem solid white;
    }
    
    #game-button-4 {
        border: .2rem solid white;
    }
    
    #game-button-5 {
        border-top: .2rem solid white;
        border-bottom: .2rem solid white;
        border-left: .2rem solid white;
    }

    #game-button-6 {
        border-top: .2rem solid white;
        border-right: .2rem solid white;
    }

    #game-button-7 {
        border-top: .2rem solid white;
        border-left: .2rem solid white;
        border-right: .2rem solid white;
    }

    #game-button-8 {
        border-top: .2rem solid white;
        border-left: .2rem solid white;
    }
}

#result-text {
    font-size: 2rem;
    cursor: default;
    color: white;
}

#control-buttons {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#start-game-button, #reload-game-button {
    height: 5rem;
    width: 100%;
    background: none;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    border-radius: .5rem;
    transition: .5s ease-out;
}

#start-game-button {
    border-color: #07bb07;
}

#reload-game-button {
    border-color: #e00b0b;
}

#start-game-button:hover {
    background-color: #07bb07;
}

#reload-game-button:hover {
    background-color: #e00b0b;
}